/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
body {
    font-family: 'Poor Story', cursive;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 브라우저 뷰포트 높이로 설정 */
    min-height: 100%; /* 최소 높이를 100%로 설정 */
    background-color: rgb(5, 5, 40);
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 400px;
}

header {
    color: white;
    text-align: center;
    padding: 1px;
    background-color: #FFD700;
}

.header-title {
    font-size: 50px;
}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #FFD700;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Shooting star animation */
body::before {
    content: '\2605'; /* 별 모양 */
    font-size: 2rem;
    color: #FFD700; /* 노란색 */
    position: absolute;
    animation: shootingStar linear infinite;
    animation-duration: 1s; /* 애니메이션 속도 */
    animation-delay: -0.5s; /* 별이 떨어지기 전 대기 시간 */
    opacity: 0;
}

body:hover::before {
    opacity: 1;
}

@keyframes shootingStar {
    0% {
        transform: translateY(-100vh) rotate(45deg) scale(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) rotate(45deg) scale(0);
        opacity: 0;
    }
}
