/* main.css */
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: right;
    position: relative;
    overflow: hidden; /* 마우스 물방울이 헤더를 벗어나지 않도록 함 */
}
#bulge {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 215, 0, 0.5); /* 노란색으로 채워진 원 */
    border-radius: 50%;
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease; /* 애니메이션 속성 추가 */
}

header:hover #bulge {
    opacity: 1;
    animation: moveBulge 10s infinite; /* 마우스 따라다니는 애니메이션 추가 */
}

@keyframes moveBulge {
    to {
        transform: translate(-50%, -50%) scale(8); /* 크기를 키우고 마우스 위치로 이동 */
    }
}
.header-content {
    display: flex;
    justify-content: space-between;
}

.header-title {
    font-family: 'Poor Story', cursive;
    font-size: 36px; /* 글자 크기 변경 */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.welcome-content {
    text-align: center;
    padding: 1px;
    opacity: 1;
    transition: opacity 3s ease-in-out; /* 3초 동안 투명도를 변경하는 애니메이션 추가 */
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-title {
    font-family: 'Poor Story', cursive;
    font-size: 24px;
}
