/*myReservation.css*/

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
    padding: 20px;
    box-sizing: border-box;
}

#reservationDetails {
    width: 100%;
    max-width: 800px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    text-align: left;
    font-size: 2em;
}

#reservationInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 80%;
    margin-top: 20px;
    padding: 10px;
}

#reservationInfo button, #reservationInfo a {
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    margin-bottom: 20px;
    width: 80%; /* 버튼과 링크의 너비를 최대로 설정 */
    box-sizing: border-box; /* 패딩이 너비에 포함되도록 설정 */
    text-align: center;
    text-decoration: none;
}

#reservationInfo #cancelReservation {
    background-color: #FF0000;
}

#reservationInfo #returnReservation {
    background-color: #007BFF;
}
